<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<div class="container">
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Phone Number</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.category %></td>
        <td><%= restaurant.phone_number %></td>
        <td class="btn btn-primary ml-5"><%= link_to 'Show', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<p class="btn btn-primary ml-5">
  <%= link_to 'New Restaurant', new_restaurant_path %>
</p>